<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cl.pde.views"
            name="PDE views">
      </category>
      
      <view
            category="cl.pde.views"
            class="cl.pde.views.feature.FeatureView"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/ftr_xml_obj.png"
            id="cl.pde.featureView"
            name="Feature View">
      </view>
      
      <view
            category="cl.pde.views"
            class="cl.pde.views.product.ProductView"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/obj16/product_xml_obj.png"
            id="cl.pde.productView"
            name="Product View">
      </view>
      
      <view
            category="cl.pde.views"
            class="cl.pde.views.launchconfiguration.LaunchConfigurationView"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/etool16/eclipse16.png"
            id="cl.pde.launchConfigurationView"
            name="Launch Configuration View">
      </view>
      <view
            category="cl.pde.views"
            class="cl.pde.views.plugin.PluginView"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/eview16/plugins.png"
            id="cl.pde.pluginView"
            name="Plugin View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="cl.pde.featureView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         
         <view
               id="cl.pde.productView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         
         <view
               id="cl.pde.launchConfigurationView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         
         <viewShortcut
               id="cl.pde.featureView">
         </viewShortcut>
         
         <viewShortcut
               id="cl.pde.productView">
         </viewShortcut>
         
         <viewShortcut
               id="cl.pde.launchConfigurationView">
         </viewShortcut>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               id="cl.pde.featureView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         
         <view
               id="cl.pde.productView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         
         <view
               id="cl.pde.launchConfigurationView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         
         <view
               id="cl.pde.productView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         
         <viewShortcut
               id="cl.pde.featureView">
         </viewShortcut>
         
         <viewShortcut
               id="cl.pde.productView">
         </viewShortcut>
         
         <viewShortcut
               id="cl.pde.launchConfigurationView">
         </viewShortcut>            
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="is.feature">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <and>
                  <test property="org.eclipse.core.resources.name" 
                        value="feature.xml"/>
                  <test property="org.eclipse.core.resources.contentTypeId"
                        value="org.eclipse.pde.featureManifest"/>
               </and>
            </adapt>
         </iterate>
      </definition>
      
      <definition id="is.product">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <and>
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="product">
                  </test>
                  <test
                        property="org.eclipse.core.resources.contentTypeId"
                        value="org.eclipse.pde.productFile">
                  </test>
               </and>
            </adapt>
         </iterate>
      </definition>
      
      <definition id="is.launch">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IFile">
               <test property="org.eclipse.core.resources.extension" 
                     value="launch"/>
            </adapt>
         </iterate>
      </definition>
      
      <definition id="is.pde">
         <iterate ifEmpty="false">
            <adapt type="org.eclipse.core.resources.IProject">
               <test property="org.eclipse.core.resources.projectNature"
                   	 value="org.eclipse.pde.PluginNature">
               </test>
            </adapt>
         </iterate>
      </definition>
   </extension>
   
   <extension point="org.eclipse.ui.commands">
      <category
            name="CL PDE commands"
            description="CL PDE commands"
            id="cl.pde.commands">
      </category>
      
      <command
            name="Open in feature view"
            description="Open in feature view"
            defaultHandler="cl.pde.handlers.OpenInFeatureViewHandler"
            categoryId="cl.pde.commands"
            id="cl.pde.open_in_feature_view">
      </command>
      
      <command
            name="Open in product view"
            description="Open in product view"
            categoryId="cl.pde.commands"
            defaultHandler="cl.pde.handlers.OpenInProductViewHandler"
            id="cl.pde.open_in_product_view">
      </command>
      
      <command
            name="Open in launch configuration view"
            categoryId="cl.pde.commands"
            defaultHandler="cl.pde.handlers.OpenInLaunchConfigurationViewHandler"
            description="Open in launch configuration view"
            id="cl.pde.open_in_launch_configuration_view">
      </command>
      <command
            categoryId="cl.pde.commands"
            defaultHandler="cl.pde.handlers.SearchInvalidProjectHandler"
            description="Search the projects to be opened/imported"
            id="cl.pde.search_invalid_project"
            name="Search projects to be opened/imported">
      </command>
      
      <command
            categoryId="cl.pde.commands"
            defaultHandler="cl.pde.handlers.TryToOpenInvalidProjectHandler"
            description="Try to open/import the project"
            id="cl.pde.try_open_invalid_project"
            name="Try to open/import project">
      </command>
   </extension>
   
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.ui.popup.any">
         <command
               commandId="cl.pde.open_in_feature_view"
               icon="icons/ftr_xml_obj.png"
               id="open.in.feature.view.command"
               label="Open in feature view"
               style="push">
            <visibleWhen checkEnabled="false">
               <with variable="activeMenuSelection">
                     <reference definitionId="is.feature"/>
               </with>
            </visibleWhen>
         </command>
         
         <command
               commandId="cl.pde.open_in_product_view"
               icon="icons/product_xml_obj.png"
               id="open.in.product.view.command"
               label="Open in product view"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <reference
                        definitionId="is.product">
                  </reference>
               </with>
            </visibleWhen>
         </command>
         
         <command
               commandId="cl.pde.open_in_launch_configuration_view"
               icon="icons/launchConfiguration.png"
               id="open.in.launch.configuration.view.command"
               label="Open in launch configuration view"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <reference
                        definitionId="is.launch">
                  </reference>
               </with>
            </visibleWhen>
         </command>
         
         <command
               commandId="cl.pde.try_open_invalid_project"
               icon="icons/invalid_project.png"
               id="cl.consistency.tryOpenInvalidProjectHandler.command"
               label="Try to open/import project"
               style="push"
               tooltip="Try to open/import project">
            <visibleWhen>
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="org.eclipse.pde.internal.core.plugin.ImportObject">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="cl.pde.search_invalid_project"
               icon="icons/invalid_project.png"
               id="cl.consistency.searchInvalidProjectHandler.command"
               label="Search projects to be opened/imported"
               style="push"
               tooltip="Search invalid projects">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <command
               commandId="cl.pde.search_invalid_project"
               icon="icons/invalid_project.png"
               id="cl.consistency.searchInvalidProjectHandler.command"
               label="Search projects to be opened/imported"
               style="push"
               tooltip="Search invalid projects">
         </command>
      </menuContribution>
   </extension>
</plugin>
