<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="cl.pde.views"
            name="PDE views">
      </category>
      <view
            category="cl.pde.views"
            class="cl.pde.views.feature.FeatureView"
            icon="icons/ftr_xml_obj.png"
            id="cl.pde.featureView"
            name="Feature View">
      </view>
      <view
            category="cl.pde.views"
            class="cl.pde.views.product.ProductView"
            icon="icons/product_xml_obj.png"
            id="cl.pde.productView"
            name="Product View">
      </view>
      <view
            category="cl.pde.views"
            class="cl.pde.views.launchconfiguration.LaunchConfigurationView"
            icon="icons/launchConfiguration.png"
            id="cl.pde.launchConfigurationView"
            name="Launch Configuration View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="cl.pde.featureView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="cl.pde.productView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="cl.pde.launchConfigurationView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <viewShortcut
               id="cl.pde.featureView">
         </viewShortcut>
         <viewShortcut
               id="cl.pde.productView">
         </viewShortcut>
         <viewShortcut
               id="cl.pde.launchConfigurationView">
         </viewShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <view
               id="cl.pde.featureView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="cl.pde.productView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="cl.pde.launchConfigurationView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <view
               id="cl.pde.productView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
         <viewShortcut
               id="cl.pde.featureView">
         </viewShortcut>
         <viewShortcut
               id="cl.pde.productView">
         </viewShortcut>
         <viewShortcut
               id="cl.pde.launchConfigurationView">
         </viewShortcut>            
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
